.pic-container{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    border: 1px solid black;
    border-radius: 10px;
}

.pic-container img{
    width: 290px;
    height: 200px;
    padding: 5px;
    border: 1px solid ;
}

.btn{
    text-align: center;
    padding:10px;
    justify-content: center;
}


