.collection{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.pd-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 5px;
    margin: 10px;
}


.selection-container{
    background-color: khaki;
}